<div *ngIf="data else loading">
  <ngx-charts-heat-map
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [animations]="animations"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxisTickFormatting]="calendarAxisTickFormatting"
    [tooltipText]="calendarTooltipText"
    [innerPadding]="'10%'"
    [tooltipDisabled]="false"
  ></ngx-charts-heat-map>
</div>

<ng-template #loading>
  <app-loading-animation></app-loading-animation>
</ng-template>

