<div *ngIf="data else loading">
  <ngx-charts-line-chart
    [view]="view"
    [results]="data"
    [scheme]="colorScheme"
    [results]="true"
    [gradient]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Temps'"
    [yAxisLabel]="'vertical text'"
    [autoScale]="true"
    [timeline]="true">
  </ngx-charts-line-chart>
</div>

<ng-template #loading>
  <app-loading-animation></app-loading-animation>
</ng-template>
