<!-- <app-heat-map
  [service]="heatMapService"></app-heat-map> -->

  <app-line-charts
    [services]="[temperatureService]">
  </app-line-charts>

  <app-line-charts
    [services]="[humidityService]">
  </app-line-charts>

  <app-line-charts
  [services]="[powerService]">
  </app-line-charts>

  <app-line-charts
    [services]="[energyService]">
  </app-line-charts>
