<button [routerLink]="['/zone']" mat-raised-button>
  <mat-icon aria-label="Return to list of device.">arrow_back</mat-icon>Retour
</button>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name zone">
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="type" placeholder="Type zone">
      <mat-option [value]="zones.real"> {{zones.real}} </mat-option>
      <mat-option [value]="zones.virtual"> {{zones.virtual}} </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button>Send</button>
</form>


